@using SoBlog.Domain.DTOs.Categories
@model AddCategoryDTO
@{
    ViewData["Title"] = "افزودن دسته بندی جدید";
}

@section SiteHeader {
    @await Component.InvokeAsync("AdminHeader")
}
<section class="py-4">
    <div class="container">
        <div class="row pb-4">
            <div class="col-12">
                <!-- Title -->
                <h1 class="mb-0 h3">افزودن دسته بندی جدید</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Chart START -->
                <div class="card border">
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- Form START -->
                        <form method="post" enctype="multipart/form-data">
                            <!-- Main form -->
                            <div class="row">
                                <div class="col-4">
                                    <!-- Post name -->
                                    <div class="mb-3">
                                        <label asp-for="DisplayTitle" class="form-label"></label>
                                        <input asp-for="DisplayTitle" type="text" class="form-control" placeholder="عنوان نمایشی ">
                                        <span asp-validation-for="DisplayTitle" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <!-- Post name -->
                                    <div class="mb-3">
                                        <label asp-for="SystemTitle" class="form-label"></label>
                                        <input asp-for="SystemTitle" type="text" class="form-control" placeholder="عنوان سیستمی ">
                                        <span asp-validation-for="SystemTitle" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <!-- Post name -->
                                    <div class="mb-3">
                                        <label asp-for="Color" class="form-label"></label>
                                        <input asp-for="Color" type="text" class="form-control" placeholder="رنگ ">
                                        <span asp-validation-for="Color" class="text-danger"></span>
                                    </div>
                                </div>

   
                                <div class="col-4 col-md-2">
                                    <div class="position-relative">
                                        <img class="rounded" ImageFile="1">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label">عکس</label>
                                        <input ImageInput="1" name="image" type="file" class="form-control" placeholder="عکس ">
                                    </div>
                                </div>

                                <!-- Create post button -->
                                <div class="col-md-12 text-start mt-2">
                                    <button class="btn btn-primary w-100" type="submit">ایجاد دسته بندی</button>
                                </div>
                            </div>
                        </form>
                        <!-- Form END -->
                    </div>
                </div>
                <!-- Chart END -->
            </div>
        </div>
    </div>
</section>


@section Scripts
{
    <script src="~/common/customs/js/show-image.js"></script>
    <partial name="_ValidationPartial" />

}