<section class="pt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Title -->
				<div class="mb-4 d-md-flex justify-content-between align-items-center">
					<h2 class="m-0"><i class="bi bi-megaphone"></i> مطالب پیشنهادی</h2>
					<a href="#" class="text-body small"><u>مشاهده همه</u></a>
				</div>
				<div class="tiny-slider arrow-hover arrow-blur arrow-dark arrow-round">
					<div class="tiny-slider-inner"
						 data-autoplay="true"
						 data-hoverpause="true"
						 data-gutter="24"
						 data-arrow="true"
						 data-dots="false"
						 data-items-xl="4"
						 data-items-md="3"
						 data-items-sm="2"
						 data-items-xs="1">

						<!-- Card item START -->
						<div class="card">
							<!-- Card img -->
							<div class="position-relative">
								<img class="card-img" src="/site/images/blog/4by3/07.jpg" alt="Card image">
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Card overlay Top -->
									<div class="w-100 mb-auto d-flex justify-content-end">
										<div class="text-end ms-auto">
											<!-- Card format icon -->
											<div class="icon-md bg-white bg-opacity-10 bg-blur text-white fw-bold rounded-circle" title="8.5 rating">8.5</div>
										</div>
									</div>
									<!-- Card overlay bottom -->
									<div class="w-100 mt-auto">
										<a href="#" class="badge text-bg-info mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>گردشگری</a>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-3">
								<h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset">افزایش آلودگی هوا در شهرهای پُرجمعیت تا فردا</a></h5>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<img class="avatar-img rounded-circle" src="/site/images/avatar/07.jpg" alt="avatar">
												</div>
												<span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">مریم ترابی</a></span>
											</div>
										</div>
									</li>
									<li class="nav-item">7 دی، 1400</li>
								</ul>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card">
							<!-- Card img -->
							<div class="position-relative">
								<img class="card-img" src="/site/images/blog/4by3/08.jpg" alt="Card image">
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Card overlay bottom -->
									<div class="w-100 mt-auto">
										<a href="#" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>ورزش</a>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-3">
								<h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset">آمار فرزندان حاصل از روش‌های کمک‌ باروری در جهان</a></h5>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<div class="avatar-img rounded-circle bg-warning">
														<span class="text-dark position-absolute top-50 start-50 translate-middle fw-bold small">MK</span>
													</div>
												</div>
												<span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">رضا مرادی</a></span>
											</div>
										</div>
									</li>
									<li class="nav-item">15 خرداد، 1400</li>
								</ul>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card">
							<!-- Card img -->
							<div class="position-relative">
								<img class="card-img" src="/site/images/blog/4by3/09.jpg" alt="Card image">
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Card overlay bottom -->
									<div class="w-100 mt-auto">
										<a href="#" class="badge text-bg-success mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>سیاست</a>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-3">
								<h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset">عادات بدی که افراد در صنعت باید آنها را ترک کنند!</a></h5>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<img class="avatar-img rounded-circle" src="/site/images/avatar/09.jpg" alt="avatar">
												</div>
												<span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">سارا حقیقت نژاد</a></span>
											</div>
										</div>
									</li>
									<li class="nav-item">1 دی، 1400</li>
								</ul>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card">
							<!-- Card img -->
							<div class="position-relative">
								<img class="card-img" src="/site/images/blog/4by3/10.jpg" alt="Card image">
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Card overlay Top -->
									<div class="w-100 mb-auto d-flex justify-content-end">
										<div class="text-end ms-auto">
											<!-- Card format icon -->
											<div class="icon-md bg-white-soft bg-blur text-white rounded-circle" title=""><i class="fas fa-image"></i></div>
										</div>
									</div>
									<!-- Card overlay bottom -->
									<div class="w-100 mt-auto">
										<a href="#" class="badge text-bg-primary mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>فرهنگ</a>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-3">
								<h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset">به همین دلیل امسال سال استارت آپ ها خواهد بود؟</a></h5>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<img class="avatar-img rounded-circle" src="/site/images/avatar/10.jpg" alt="avatar">
												</div>
												<span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">نیلوفر راد</a></span>
											</div>
										</div>
									</li>
									<li class="nav-item">7 آذر، 1400</li>
								</ul>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card">
							<!-- Card img -->
							<div class="position-relative">
								<img class="card-img" src="/site/images/blog/4by3/11.jpg" alt="Card image">
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Card overlay bottom -->
									<div class="w-100 mt-auto">
										<a href="#" class="badge text-bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>تکنولوژی</a>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-3">
								<h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset">بهترین تابلوهای پینترست برای یادگیری در مورد تجارت</a></h5>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<img class="avatar-img rounded-circle" src="/site/images/avatar/12.jpg" alt="avatar">
												</div>
												<span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">المیرا کرمی</a></span>
											</div>
										</div>
									</li>
									<li class="nav-item">7 شهریور، 1400</li>
								</ul>
							</div>
						</div>
						<!-- Card item END -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>