
@{
    ViewData["Title"] = "صفحه اصلی";
}

@section SiteHeader{
	@await Component.InvokeAsync("SiteHeader");
}
<!-- =======================
Trending START -->
@await Component.InvokeAsync("Trending")
<!-- =======================
Trending END -->
<!-- =======================
Main hero START -->
@await Component.InvokeAsync("PinPost")
<!-- =======================
Main hero END -->
<!-- =======================
Main content START -->
<section class="position-relative">
	<div class="container" data-sticky-container>
		<div class="row">
			<!-- Main Post START -->
			@await Component.InvokeAsync("Posts")
			<!-- Main Post END -->
			<!-- Sidebar START -->
			@await Component.InvokeAsync("Sidebar")
			<!-- Sidebar END -->
		</div> <!-- Row end -->
	</div>
</section>
<!-- =======================
Main content END -->
<!-- Divider -->
<div class="container"><div class="border-bottom border-primary border-2 opacity-1"></div></div>

<!-- =======================
Section START -->
@await Component.InvokeAsync("ProposePost")
<!-- =======================
Section END -->
